.bce-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  flex: 0 0 auto;
  color: inherit;
  vertical-align: middle;
  background-color: currentColor;
  -webkit-mask: var(--un-icon) no-repeat;
  mask: var(--un-icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.bce-toolbar-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  margin: 0 0 0.125em 0.25em;
  color: #5f5f5f;
  font-size: 1.4em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

[data-theme='dark'] .bce-toolbar-button {
  color: #f5f5f5;
}

.premature-comment {
  border: 1px dashed #e62727;
}
